containers/mapproxy/cache_data
containers/mapserver/data
*.log
*/.tmp
*sublime*
*.tar
*.zip
*.retry
*.pyc
.mypy_cache
.DS_Store
.env

.idea/
.vscode/
.pytest_cache/
.cache/
node_modules/

apps/deploy-monkey/build/*
apps/deploy-monkey/dist/*
apps/devdocs/data/

*.egg-info

.envrc
apps/devdocs/data

# Ignore swapfiles
*.swp
*.swo
*.swa

.tags

*/credentials/*

# pyenv
.python-version

.ruff_cache
